[submodule "cmake/clang"]
	path = cmake/clang
	url = https://github.com/Xaymar/cmake-clang.git
[submodule "third-party/nvidia-arsdk"]
	path = third-party/nvidia-arsdk
	url = https://github.com/NVIDIA/BROADCAST-AR-SDK.git
[submodule "third-party/nlohmann-json"]
	path = third-party/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "third-party/msvc-redist-helper"]
	path = third-party/msvc-redist-helper
	url = https://github.com/Xaymar/msvc-redist-helper.git
[submodule "third-party/nvidia-maxine-vfx-sdk"]
	path = third-party/nvidia-maxine-vfx-sdk
	url = https://github.com/NVIDIA/MAXINE-VFX-SDK.git
